@model List<ProgrammersAdda.Models.Programmer>

@{
    ViewBag.Title = "ProgrammerMgmt";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}

<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-11">
        <h2 style="text-align:center;font-family:'Imprint MT Shadow';color:#ec1a09;font-weight:bold;">ProgrammersMgmt</h2>
<table class="table table-responsive table table-bordered" border="3px solid black" style="background:linear-gradient(Darkorange,red,brown);color:white;">
    <tr>
        <th>
           Name
        </th>
        <th>
          Mobile
        </th>
        <th>
          Email
        </th>
        <th>
          Expert Area
        </th>
        <th>
          Quailification
        </th>
        <th>
          Experiance
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name )
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mob)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpertArea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.qua)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.exp)
        </td>
       
    </tr>
}

</table>
</div>
    </div>